page-messages {
    .for_sale .toolbar-title {
        font-size: 20px;
        color: #008ee9;
    }
    .scroll-content {
        padding-top: 0px !important;
    }
    img.home_img {
        margin-top: -22px;
        height: 190px !important;
        object-fit: cover;
    }
    .segment {
        height: 100%;
        max-height: 93px;
    }
    .segment-button {
        height: 100%;
        min-height: 60px;
    }
    
   .segment-button {
    border: none !important;
    border-radius: 0px !important;
    padding: 14px 0px;
    font-size: 18px !important;
    color: #000 !important;
    font-weight: 500;
    // min-height: 88px !important;
    // height: 100% !important;
    }
    .segment-button.segment-activated {
        background-color: transparent !important;
        border-bottom: 8px solid #008cec !important;
        color: #000 !important;
    }
    .segment {
        border: 0px;
    }
    .segment-button:first-child {
        border-right: 1px solid #c6c6c6 !important;
    }
    .card-background-page [col-3] {
        text-align: center;
        margin: auto;
    }
    .card-background-page img {
        max-width: 40px;
        width: 100%;
        height: auto;
    }
    .card-background-page p {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p.italic_text {
        font-style: italic;
        font-weight: 500 !important;
        font-size: 17px !important;
        margin-top: 0px;
        /* margin-bottom: 0px; */
    }
    .visited.row {
        background: #e5f4fc;
        border-bottom: 1px solid #0495e0;
        border-top: 1px solid #0495e0;
        padding: 7px 0px;
    }
    .visited [col-9] {
        padding-top: 0px;
    }
    .card-background-page .row {
        padding: 8px 0px;
    }
    .card-background-page.grid {
        margin-top: 16px;
    }
    //for android css//
    .header-md .title-md .toolbar-title-md {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .segment-md .segment-button {
        line-height: 4;
    }

    @media screen and (min-width:1024px){
        .for_sale .toolbar-title {
            font-size: 40px;
            color: #fff;
            line-height: 30px;
        }
        .lg_screen_bg{
            background-image: url(../assets/imgs/Mymessagesdesktop.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 40px !important;
        }
        img.serach {
            display: none;
        }
        img.home_img {
            display: none;
        }
       .segment {
            height: 100%;
            max-height: 58px;
            width: 100%;
            max-width: 30%;
            margin: auto;
            margin-top: 30px;
        }
        .segment-button {
            min-height: 44px !important;
            height: 100% !important;
        }
        .segment-md .segment-button {
            line-height: 2;
            padding-top: 4px;
        }
        .segment-button.segment-activated {
            background-color: #008cec !important;
            color: #fff !important;
        }
        .segment {
            border: 2px solid #008cec;
        }
       .card-background-page [col-3] {
            text-align: right;
            margin: 0;
            position: relative;
            right: 22px;
        }

        .card-background-page p {
            margin-top: 0px;
            position: relative;
            left: 24px;
        }
        .card-background-page [col-9] {
            margin: auto;
        }
        .card-background-page .fw700 {
            float: left;
            margin-bottom: 0px;
        }
    }
    .message_view p {
        font-weight: normal !important;
        text-align: justify;
    }
    .message_view [col-12]:first-child {
        border-bottom: 1px solid #008cec;
    }
    .trash_icons .icon {
        font-size: 30px;
    }
    //end//



    .drop_down_icon .icon {
        display: none;
    }
}
